<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sixos Care</title>

    <!-- BootStrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


    <!-- Font Awesome Link  -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- <link rel="stylesheet" href="/css/home.css"> -->

    <!-- Home StyleSheet -->
    <link rel="stylesheet" href="/css/stylehome.css">

    <!-- Long Term StyleSheet -->
    <link rel="stylesheet" href="/css/longTerm.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <%- body %>

    <!-- Tailwind Script  -->
    <script src="https://cdn.tailwindcss.com"></script>

    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

    <!-- Long Term JS Script -->
    <script src="/js/longTerm"></script>

    <!-- Homepage JS Script  -->
    <script src="/js/home.js"></script>

    <%- include('../partials/footer.ejs') %>
</body>
</html>